/* social media auth */
.btn-social {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  max-width: 15rem;
}

.btn-google {
  background-color: #313131;
  color: #ffffff !important;
  transition: background-color 0.2s ease;
  margin-top: 1rem;
}

.btn-social img {
  margin-right: 10px;
  max-width: 25px !important;
}

.btn-google:hover {
  background-color: #242424;
  cursor: pointer;
}

/* Buttons */
.auth-button {
  background-color: #008f11;
  color: #ffffff !important;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.auth-button:hover {
  background-color: #006f0d;
  cursor: pointer;
}

/* sweet alert button */
.matrix-green-button {
  background-color: #008f11 !important;
  border: #006f0d !important;
  color: #ffffff !important;
}

@media screen and (max-width: 700px) {
  .auth-buttons {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }
  .auth-button {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 996px) {
  .banner {
    padding: 0.5rem;
    width: 100%;
  }
}

/* Banner */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffff25b4;
  color: black;
  padding: 1rem;
  border-radius: 15px;
  margin-bottom: 1rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.banner i {
  font-size: 1.2em;
  margin-left: 10px;
}

/* Set default button styles */

.btn-container{
  margin-top:1rem;
}

button {
  background-color: #008f11;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  background-color: #006f0d;
  cursor: pointer;
}

button i {
  padding: 0.5rem;
}
/* Set the content for the play, pause, and stop icons */
.play i::before {
  content: "\f04b";
}

.pause i::before {
  content: "\f04c";
}

.stop i::before {
  content: "\f04d";
}

.hidden i::before {
  content: "\f04d";
}

.hidden {
  display: none;
}

.reply-button {
  padding: 1px;
}

/* product quantity buttons */
.btn-floating i.material-icons {
  line-height: 50px; /* Adjust based on the size of your button if necessary */
}

.btn-floating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-buttons {
  display: flex;
}

.back-button {
  right: 20%;
  margin-top: 1rem;
  margin-bottom: 1rem;

}