@font-face {
  font-family: "Matrix Code NFI";
  src: url("/static/fonts/MatrixCodeNFI.woff2") format("woff2"), url("/static/fonts/MatrixCodeNFI.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
