[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
pillow = "*"
django-markdown-deux = "*"
gunicorn = "*"
django-allauth = "*"
django-q = "*"
boto3 = "*"
django-crispy-forms = "*"
crispy-bootstrap4 = "*"
requests = "*"
django-anymail = {extras = ["mailgun"], version = "*"}
pytz = "*"
langdetect = "*"
beautifulsoup4 = "*"
markdown = "*"
django-polymorphic = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.10"
