{% extends 'base.html' %} {% block content %}
<!-- Product Name -->
<div class="title">{{ product.name }}</div>

<div class="puchased-product-detail-container">
  <!-- Sidebar -->
  <div class="puchased-product-detail-sidebar">
    <div><a href="{% url 'store:purchased_products' %}" class="main-button">Volver</a></div>
    <br />
    <div id="media-sidebar" class="collection">
      <!-- Loop through media content to generate unique types -->
      {% for content_type in unique_content_types %}
      <a href="#!" class="collection-item" data-media-type="{{ content_type.model }}">
        {{ content_type.verbose_name }}
      </a>
      {% endfor %}
    </div>
  </div>

  <!-- Main Content -->
  <div class="purchased-products-main-content">
    {% for content_type in unique_content_types %}
    <div id="media-{{ content_type.model }}" class="media-section hidden">
      {% for media_content in media_contents %} {% if media_content.content_type == content_type %}
      <div class="title-md">{{ media_content.content_object.name }}</div>

      {% if media_content.content_type.model == "imagemedia" %}
      <img src="{{ media_content.content_object.file.url }}" alt="{{ media_content.name }}" />
      <a href="{{ media_content.content_object.file.url }}" download>Download Image</a>

      {% elif media_content.content_type.model == "videomedia" %}
      <div class="video-container">
        <video controls>
          <source src="{{ cloudfront_domain }}/{{ media_content.content_object.video_file }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
      {% elif media_content.content_type.model == "documentmedia" %}
      <a href="{{ media_content.content_object.file.url }}" download>Download Document</a>
      {% endif %} {% endif %} {% endfor %}
    </div>
    {% endfor %}
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const sidebarLinks = document.querySelectorAll("#media-sidebar .collection-item");
      const mediaSections = document.querySelectorAll(".purchased-products-main-content .media-section");
      sidebarLinks.forEach((link) => {
        link.addEventListener("click", function () {
          // Hide all sections
          mediaSections.forEach((section) => {
            section.classList.add("hidden");
          });

          // Show the clicked section
          const mediaType = this.getAttribute("data-media-type");
          const targetSection = document.querySelector(`#media-${mediaType}`);
          targetSection.classList.remove("hidden");
        });
      });
    });
  </script>
  {% endblock %}
</div>
