body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  color: #33ff33;
}

nav,
.page-footer {
  background-color: #1b5e20;
}

.card {
  margin: auto;
  margin-bottom: 1.5rem;
}

.card .card-content {
  color: #a3c293;
}

.card-title {
  max-height: 2em;
  overflow: auto;
}

.card .card-content .card-title {
  color: #000000;
  font-weight: bold;
}

.card .card-content p {
  color: #333333;
}

.card .card-action a {
  color: #a3c293;
}

.nav-wrapper {
  background-color: #000000;
}
