{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Escapa la Matrix</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/forms.css" />
    <link rel="stylesheet" href="/static/css/buttons.css" />
    <link rel="stylesheet" href="/static/css/newsletter.css" />
    <link rel="stylesheet" href="/static/css/subscribe.css" />
    <link rel="stylesheet" href="/static/css/like.css" />
    <link rel="stylesheet" href="/static/css/cart.css" />
    <link rel="stylesheet" href="/static/css/purchased_product.css" />
    <link rel="stylesheet" href="/static/css/resource.css" />
    <link rel="stylesheet" href="/static/css/questionnaire.css" />
    <link rel="stylesheet" href="/static/css/results.css" />
    <link rel="stylesheet" href="/static/css/like_popup.css" />
    <link rel="stylesheet" href="/static/css/configurations.css" />
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript">
      var csrfToken = "{{ csrf_token }}";
    </script>
    <!-- Share This -->
    <script
      type="text/javascript"
      src="https://platform-api.sharethis.com/js/sharethis.js#property=651097570e7b8300197c7c7f&product=sop"
      async="async"
    ></script>
  </head>
  <body>
    <div class="content-wrapper">
      {% include 'blog_app/header.html' %} {% include 'blog_app/subscribe_popup.html' %} 
      {% include 'blog_app/like_popup.html' %}
      <main>
        {% if messages %}
        <div class="container">
          {% for message in messages %}
          <div class="card-panel white-text #1b5e20 green darken-4 {% if message.tags %}{{ message.tags }}{% endif %}">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %} {% block content %}{% endblock %}
      </main>
    </div>

    {% include 'blog_app/footer.html' %}

    <!-- Your included reply form -->
    {% include 'blog_app/reply_form.html' %}
    <script>var userIsAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};</script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- Materialize -->
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <!-- Scroll Magic -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
    <!-- SweetAlert2  -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- js timezone  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
    <script>
      // JavaScript to detect the user's timezone
      var tz = jstz.determine(); // Determines the time zone of the browser client
      document.cookie = "timezone=" + tz.name() + ";path=/;domain=" + window.location.hostname; // Creates a cookie with the timezone value
    </script>
    <!-- Esay Speech  -->
    <script src="https://cdn.jsdelivr.net/npm/easy-speech/dist/EasySpeech.iife.js"></script>
    <!-- Your JavaScript code -->
    <script src="/static/js/scripts.js"></script>
    <script src="/static/js/analytics.js"></script>

    {% block scripts %}{% endblock %}
  </body>
</html>
