{% extends 'base.html' %}
{% load socialaccount %}
{% load static %}
{% providers_media_js %} 
{% block content %}
<div class="container auth-form">
  <div class="title">Iniciar Sesión</div>
  <form method="post" autocomplete="off">
    {% csrf_token %} 
    <p>
      {{ form.username.label_tag }} {{ form.username }}
      {% if form.username.errors %}
        <div class="error">{{ form.username.errors }}</div>
      {% endif %}
    </p>
    <p>
      {{ form.password.label_tag }} {{ form.password }}
      {% if form.password.errors %}
        <div class="error">{{ form.password.errors }}</div>
      {% endif %}
    </p>
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li class="error-message" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    {% if next %}
      <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <button type="submit" class="auth-form button">Ingresar</button>
  </form>
  <div class="social-login">
      {% get_providers as socialaccount_providers %}
      {% for provider in socialaccount_providers %}
          <a class="btn-social btn-google" href="{% provider_login_url provider.id %}">
              <img src="{% static 'images/google-logo.png' %}" alt="Google logo" />
              Continuar con {{ provider.name }}
          </a>
      {% endfor %}
  </div>
</div>
<br />
{% endblock %}
