{% extends 'base.html' %} {% load markdown_deux_tags %} {% block content %}
<div class="card-detail">
  <div class="card-content">
    <h2 class="card-title">{{ post.title }}</h2>
    {% if post.image %}
    <div class="card-image-container">
      <img class="card-image" src="{{ post.image.url }}" />
    </div>
    {% endif %}
    <div class="btn-container">
      <button id="playPauseButton" class="play">
        <i class="fas fa-play"></i>
      </button>
      <button id="stopButton" class="hidden">
        <i class="fas fa-stop"></i>
      </button>
    </div>
    <p class="card-date">{{ post.date_posted|date:"j \d\e F \d\e Y, P" }}</p>
    <p class="card-read-time">Tiempo de lectura: {{ reading_time }} minutos</p>
    <div class="card-content">{{ post.content|markdown }}</div>
  </div>
  <div class="comment-section">
    {% if user.is_authenticated %}
    <!-- Show the comment form -->
    <div class="comment-form">
      <h2>Añade un comentario</h2>
      <form method="post" action="{% url 'blog_app:add_comment_to_post' post.id %}">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Añadir Comentario</button>
      </form>
    </div>
    {% else %}
    <!-- Show the banner -->
    <div class="banner">
      <p>
        Inicia sesión o regístrate para comentar
        <i class="fas fa-exclamation-circle"></i>
      </p>
      <div class="auth-buttons">
        <a class="auth-button" href="{% url 'blog_app:login' %}?next={{ request.path }}#comment-section">
          Inicia sesión
        </a>
        <a class="auth-button" href="{% url 'blog_app:register' %}?next={{ request.path }}#comment-section">
          Regístrate
        </a>
      </div>
    </div>
    {% endif %}
    <div id="comment-section">
      {% if comments %}
      <h2>Comentarios</h2>
      {% for comment in comments %} {% include 'blog_app/comment.html' with comment=comment %} {% endfor %} {% endif %}
    </div>
  </div>
</div>
{% include 'blog_app/social_media_bar.html' %} {% endblock %} {% block scripts %}
<script>
  function chunkText(text, chunkSize) {
    let chunks = [];
    while (text.length > chunkSize) {
      let index = text.lastIndexOf(" ", chunkSize); // Find the last space within the limit
      let chunk = text.slice(0, index); // Get the chunk up to this point
      chunks.push(chunk); // Add it to the array
      text = text.slice(index + 1); // Update the remaining text
    }
    chunks.push(text); // Add the remaining text as the last chunk
    return chunks;
  }

  var playPauseButton = document.getElementById("playPauseButton");
  var stopButton = document.getElementById("stopButton");

  function play() {
    playPauseButton.classList.remove("pause");
    playPauseButton.classList.add("play");
    stopButton.classList.add("hidden");
  }

  function pause() {
    playPauseButton.classList.remove("play");
    playPauseButton.classList.add("pause");
    stopButton.classList.remove("hidden");
  }

  playPauseButton.addEventListener("click", function () {
    if (playPauseButton.classList.contains("play")) {
      pause();
      if (window.speechSynthesis.paused) {
        window.speechSynthesis.resume();
      } else {
        speakText();
      }
    } else {
      play();
      window.speechSynthesis.pause();
    }
  });

  stopButton.addEventListener("click", function () {
    play();
    window.speechSynthesis.cancel();
  });

  function speakText() {
    let text = "{{ plain_content|escapejs }}";
    let chunks = chunkText(text, 200); // Split the text into chunks
    let lang = "{{ language }}";
    let selectedVoice = null;

    if (lang.startsWith("es")) {
      let voices = window.speechSynthesis.getVoices();
      let spanishVoices = voices.filter((voice) => voice.lang.startsWith("es"));
      selectedVoice = spanishVoices[0];
    }

    let speakChunk = function (index) {
      if (index >= chunks.length) {
        play(); // Stop playing once all chunks have been spoken
        console.log("Speech ended");
        return;
      }

      let utterance = new SpeechSynthesisUtterance(chunks[index]);
      utterance.lang = lang;
      if (selectedVoice) {
        utterance.voice = selectedVoice;
      }
      utterance.pitch = 1;
      utterance.rate = 1.1;
      utterance.volume = 1;
      utterance.onend = function () {
        speakChunk(index + 1); // Speak the next chunk when this one ends
      };
      utterance.onerror = (e) => console.error("Speech error", e);

      window.speechSynthesis.speak(utterance);
    };

    speakChunk(0); // Start speaking the first chunk
  }

  window.onbeforeunload = function () {
    window.speechSynthesis.cancel();
  };

  setInterval(function () {
    if (!window.speechSynthesis.speaking && playPauseButton.classList.contains("pause")) {
      play();
    }
  }, 1000);
</script>

{% endblock %}
