{% extends 'base.html' %} {% load markdown_deux_tags %} {% block content %}
<div class="card-detail">
  <div class="card-content">
    <h2 class="card-title">{{ post.title }}</h2>
    {% if post.image %}
    <div class="card-image-container">
      <img class="card-image" src="{{ post.image.url }}" />
    </div>
    {% endif %}
    <div class="btn-container">
      <button id="playPauseButton" class="play">
        <i class="fas fa-play"></i>
      </button>
      <button id="stopButton" class="hidden">
        <i class="fas fa-stop"></i>
      </button>
      <button id="shareButton" class="share">
        <i class="fas fa-share-alt"></i>
      </button>
    </div>
    <p class="card-date">{{ post.date_posted|date:"j \d\e F \d\e Y, P" }}</p>
    <p class="card-read-time">Tiempo de lectura: {{ reading_time }} minutos</p>
    <div class="card-content">{{ post.content|markdown }}</div>
  </div>
  <div class="comment-section">
    {% if user.is_authenticated %}
    <!-- Show the comment form -->
    <div class="comment-form">
      <h2>Añade un comentario</h2>
      <form method="post" action="{% url 'blog_app:add_comment_to_post' post.id %}">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit">Añadir Comentario</button>
      </form>
    </div>
    {% else %}
    <!-- Show the banner -->
    <div class="banner">
      <p>
        Inicia sesión o regístrate para comentar
        <i class="fas fa-exclamation-circle"></i>
      </p>
      <div class="auth-buttons">
        <a class="auth-button" href="{% url 'blog_app:login' %}?next={{ request.path }}#comment-section">
          Inicia sesión
        </a>
        <a class="auth-button" href="{% url 'blog_app:register' %}?next={{ request.path }}#comment-section">
          Regístrate
        </a>
      </div>
    </div>
    {% endif %}
    <div id="comment-section">
      {% if comments %}
      <h2>Comentarios</h2>
      {% for comment in comments %} {% include 'blog_app/comment.html' with comment=comment %} {% endfor %} {% endif %}
    </div>
  </div>
</div>
{% include 'blog_app/social_media_bar.html' %} {% endblock %} {% block scripts %}
<script src="https://code.responsivevoice.org/responsivevoice.js?key={{ api_key }}"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Select all links inside the post content
    var links = document.querySelectorAll(".card-content a");
    // Add the target="_blank" attribute to each link
    links.forEach(function (link) {
      link.setAttribute("target", "_blank");
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    // Select all links inside the post content
    var links = document.querySelectorAll(".card-content a");
    // Add the target="_blank" attribute to each link
    links.forEach(function (link) {
      link.setAttribute("target", "_blank");
      // Add a click event listener to each link
      link.addEventListener("click", function () {
        // If the speech is playing, pause it
        if (isPlaying) {
          play();
          responsiveVoice.pause();
        }
      });
    });
  });
</script>
<script>
  var shareButton = document.getElementById("shareButton");

  shareButton.addEventListener("click", function () {
    navigator.clipboard
      .writeText(window.location.href)
      .then(function () {
        // The copy operation was successful, notify the user with a sweet alert
        Swal.fire({
          icon: "success",
          title: "¡Perfecto!",
          text: "Link copiado!",
        });
      })
      .catch(function (err) {
        // An error occurred, notify the user
        Swal.fire({
          icon: "error",
          title: "¡Error!",
          text: "No se pudo copiar el enlace.",
        });
      });
  });
</script>
<script>
  var isPlaying = false;
  var playPauseButton = document.getElementById("playPauseButton");
  var stopButton = document.getElementById("stopButton");

  function play() {
    playPauseButton.classList.remove("pause");
    playPauseButton.classList.add("play");
    stopButton.classList.add("hidden");
  }

  function pause() {
    playPauseButton.classList.remove("play");
    playPauseButton.classList.add("pause");
    stopButton.classList.remove("hidden");
  }

  playPauseButton.addEventListener("click", function () {
    if (playPauseButton.classList.contains("play")) {
      pause();
      if (isPlaying) {
        responsiveVoice.resume();
      } else {
        let lang;
        if ("{{ language }}" == "es") {
          lang = "Spanish Latin American Male";
        } else {
          lang = "UK English Female";
        }
        responsiveVoice.speak("{{ plain_content|escapejs }}", lang, {
          rate: 1.2,
          onstart: function () {
            isPlaying = true;
          },
          onend: function () {
            isPlaying = false;
            play();
          },
        });
      }
    } else {
      play();
      responsiveVoice.pause();
    }
  });

  stopButton.addEventListener("click", function () {
    play();
    responsiveVoice.cancel();
    isPlaying = false;
  });

  window.onbeforeunload = function () {
    responsiveVoice.cancel();
  };
</script>

{% endblock %}
