<div id="subscribe-popup" class="popup">
  <div class="popup-content">
    <span id="close-popup" class="close-button">&times;</span>
    <div class="subscribe-title">Suscríbete al Newsletter</div>
    <p class="white-text">Sé el primero en enterarte de nuestros nuevos posts y recibe noticias útiles directamente en tu bandeja de entrada.</p>
    <p class="white-text">
      Al suscribirte, obtén una guía gratuita para mejorar tu vida. ¡Es nuestro regalo especial para ti!
    </p>
    <div class="subscribe-content">
      <input class="subscribe-email" type="email" id="subscriber-email-popup" placeholder="Escribe tu email" required />
      <div class="subscribe-error" id="subscribe-error-popup" style="color: white"></div>
      <button class="subscribe-button" id="subscribe-button-popup">Quiero escapar de la Matrix</button>
    </div>
  </div>
</div>
