<div id="subscribe-popup" class="popup">
  <div class="popup-content">
    <span id="close-popup" class="close-button">&times;</span>
    <div class="subscribe-title">Suscríbete al Newsletter</div>
    <p class="white-text">Información valiosa para mejorar tu vida. También recibirás notificaciones sobre nuevos posts.</p>
    <div class="subscribe-content">
      <input class="subscribe-email" type="email" id="subscriber-email-popup" placeholder="Escribe tu email" required />
      <div class="subscribe-error" id="subscribe-error-popup" style="color: white"></div>
      <button class="subscribe-button" id="subscribe-button-popup">Quiero escapar de la Matrix</button>
    </div>
  </div>
</div>
