{% extends 'base.html' %} {% block content %}
<div id="subscribe-page" class="subscribe-container">
  <div class="subscribe-content">
    <h2 class="subscribe-title">Suscríbete</h2>
    <p class="subscribe-paragraph">
      Sé el primero en enterarte de nuestros nuevos posts y recibe noticias útiles directamente en tu bandeja de entrada.
    </p>
    <p class="subscribe-paragraph">
      Al suscribirte, obtén una guía gratuita para mejorar tu vida. ¡Es nuestro regalo especial para ti!
    </p>
    <div class="subscribe-content">
      <input class="subscribe-email" type="email" id="subscriber-email-page" placeholder="Escribe tu email" required />
      <div class="subscribe-error" id="subscribe-error-page" style="color: white"></div>
      <button class="subscribe-button" id="subscribe-button-page">Quiero escapar de la Matrix</button>
    </div>
  </div>
</div>
{% endblock %}
