<!DOCTYPE html>
<html>
<head>
    <title>Unsubscribe Failed</title>
    <style>
        /* Add basic styles for the page. Modify as needed. */
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        .card {
            border: 1px solid #ccc;
            padding: 20px;
            margin-top: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="card">
    <h2 class="card-title">Darse de Baja</h2>
    <p>El correo electrónico proporcionado no se encontró en nuestra base de datos.</p>
</div>
</body>
</html>
