{% extends 'base.html' %} {% load static %}{% block content %}
<div class="container">
  <div class="video-container">
    {% for video in videos %}
      <div class="title-md">{{video.name}}</div>
      <div class="video-description">{{video.description}}</div>
      <video controls>
        <source src="{{ cloudfront_domain }}/{{ video.video_file }}" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    {% endfor %}
  </div>
  {% if is_paginated %}
    <div class="pagination">
      {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
      {% endif %}

      <span class="page-number">Página {{ page_obj.number }} de {{ paginator.num_pages }}</span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
      {% endif %}
    </div>
  {% endif %}
</div>
{% endblock %}
