{% extends 'base.html' %} {% block content %}
<div class="configuration-container">
  <!-- Sidebar with configuration categories -->
  <div class="sidebar">
    <ul>
      <!-- Loop through categories and create links -->
      {% for category in categories %}
      <li><a href="#" class="category-link" data-category="{{ category.id }}">{{ category.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="main-content">
    <!-- Configuration options section -->
    <form method="POST" action="{% url 'myconfigurations:configuration' %}">
      {% csrf_token %}
      {% for category in categories %}
      <div class="category-options" id="category-{{ category.id }}">
        <div class="title-md">Configuración de {{ category.name }}</div>
        <ul>
          {% for option in category.options.all %}
          <li class="configuration-option">
            <label>
              <input type="checkbox" name="selected_options" value="{{ option.id }}"
                {% if option in user_config.selected_options.all %} checked {% endif %}>
              {{ option.name }}
            </label>
            <button id="{{ option.name }}" class="config-option-button" data-option="{{ option.options.confirmation_message }}">Guardar</button>
          </li>
          
          {% endfor %}
        </ul>
        <input type="hidden" name="category_id" value="{{ category.id }}">
      </div>
      {% endfor %}
    </form>
  </div>
{% endblock %} {% block scripts %}
<script>
  $(document).ready(function () {
    // Hide all category options initially
    $(".category-options").hide();

    // Show category options when a category link is clicked
    $(".category-link").click(function () {
      var categoryId = $(this).data("category");
      $(".category-options").hide();
      $("#category-" + categoryId).show();

      // Highlight the active category link
      $(".category-link").removeClass("active");
      $(this).addClass("active");
    });

    // Handle configuration option button click
    $(".config-option-button").click(function (event) {
      var optionConfirmationMessage = $(this).data("option"); // Retrieve the value from data-option attribute
      var optionName = this.id; // Use 'this.id' to get the button's ID

      if (optionName === "Eliminar Cuenta") {
        event.preventDefault(); // Prevent the form from submitting

        Swal.fire({
          title: "Eliminar cuenta",
          text: optionConfirmationMessage,
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#008f11",
          cancelButtonColor: "#d33",
          cancelButtonText: "Cancelar",
          confirmButtonText: "Eliminar",
        }).then((result) => {
          // Redirect to /about page after user clicks Ok on the alert.
          if (result.isConfirmed) {
            window.location.href = "{% url 'myconfigurations:delete_account' %}";
          }
        });
      }
    });
  });
</script>

{% endblock %}
